body{
    background-color: deepskyblue
}


h2{
    text-align: center;
    border-bottom: 2px solid black;
    background-color:skyblue;
}
video{
    animation: ease-in;
}
.Vid{
    padding-left: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.Mp{
    padding-left: 350px;
    padding-top: 50px;
    padding-bottom: 50px;
}
img{
    display: inline;
}
.Gallery{
    padding-left: 300px;
}
.imglast{
    padding-left: 50px;
}